
Fatal error: Uncaught exception 'Assetic\Exception\FilterException' with message ' in /omerta/deps/kriswallsmith/assetic/src/Assetic/Exception/FilterException.php on line 40

Assetic\Exception\FilterException: An error occurred while running:
'/usr/bin/node' '/tmp/assetic_lessxded1T'

Error Output:
NameError: variable @primary_font is undefined in /omerta/src/data/assets/omerta/main/layout/assets/css/game/button.less on line 14, column 16:
13 
14   font-family: @primary_font;
15   font-size: 12px;



Input:
// Less HAT
@import "../../../../../vendor/less/lesshat/3.0.2";
// Omerta helper
@import "../../../../../vendor/omerta/less/helper";


/**
 * 	FONTS
 */
@import url(//fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);

@import '../../../layout/assets/css/utils.less';
@import '../../../layout/assets/css/extras/dead_container';
@import '../../../layout/assets/css/game/button';

html
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font:		75% 'Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;
  background:	#e2e2e2;
  overflow-x: hidden;

}

a {
  text-decoration: none;
}

/**
 * 	SPLASH SCREENS
 *
 */
#splash_loading {
  display:	block;
  position:	fixed;

  top:		0;
  left:		0;
  bottom:		0;

  width:		100%;
  height:		100%;

  overflow: 	hidden;

  background: #FFFFFF;

  z-index: 	99999;
}

#splash_loading > div {
  position: absolute;


  bottom: 20px;
  left: 	20px;
}


/**
 * 	EO SPLASH
 */

/**
 * 	Omerta top bar
 * */
#omerta_bar {
  position: 	fixed;
  top: 		0;
  width: 		100%;
  /*line-height: 	44px; */
  height: 	44px;
  z-index: 	100;
  background: #040404;
  border-bottom: 1px solid #2F3031;
  color: 		white;
  /*overflow-x: 	hidden;*/

}
#omerta_bar .menu,
#omerta_bar .menu ul {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  display:block;
  width:100%;
  z-index:100;
  height: 	44px;
}

#omerta_bar .menu ul li {
  float:left;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;

  border-left: 1px solid #111;
  border-right: 1px solid #111;

  height: inherit;
}
#omerta_bar .menu ul li:hover {
  background:#111;
}

#omerta_bar .menu ul li > a {
  position:relative;
  display:block;
  padding:15px 20px;
  font-size: 10px;
  color: #86858e;
  text-decoration:none;
  font-style:normal;
  font-weight:normal;
  font-family: 'Arimo','Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;;
}
#omerta_bar .menu ul li > a > img {
  margin: -4px 0 0 0;
}
#omerta_bar .menu ul li > a .noti_bubble {
  background-color: #aa0302;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #460508;
  color: white;
  font-size: 9px;
  font-weight: bold;

  opacity: 0.85;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  -moz-opacity:0.85;
  -khtml-opacity: 0.85;

  padding: 2px;
  position: absolute;
  right: 13px;
  top: 9px;
  min-width: 10px;
  text-align: center;

  display: none;
}

#omerta_bar .menu ul:after {
  content:"";
  clear:both;
  display:block;
}

#omerta_bar .menu .right {
  float:right;
}

#omerta_bar .menu ul ul.dropdown,
#omerta_bar .menu ul ul ul.sub-dropdown,
#omerta_bar .menu ul ul ul ul.sub-sub-dropdown,
#omerta_bar .menu .multi-column{
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity: 0;
  visibility:hidden;
  display:none;
}

#omerta_bar .menu li:hover ul.dropdown,
#omerta_bar .menu ul ul li:hover ul.sub-dropdown,
#omerta_bar .menu ul ul ul li:hover ul.sub-sub-dropdown,
#omerta_bar .menu li:hover .multi-column {


  opacity: 0.95;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
  -moz-opacity:0.95;
  -khtml-opacity: 0.95;

  visibility:visible;
  display:block;
}

/*	--------------------------------------------------
	:: Multicolumn Menu
	-------------------------------------------------- */

#omerta_bar .multi-column {
  position:absolute;
  border:none;
  outline:none;
}

#omerta_bar .multi-column h4 {
  font-style:normal;
  font-weight:bold;
  font-family:"PT Sans";
  font-size:16px;
  color:#434343;
  border-bottom:1px solid #eeeeee;
  padding:0 0 10px 0;
  margin:0 0 10px 0;
}

#omerta_bar .multi-column p {
  font-style:normal;
  font-weight:normal;
  font-family:"PT Sans";
  font-size:12px;
  color:#999;
  line-height:17px;
  padding:0;
  margin:0;
}

#omerta_bar .multi-column .one { width:136.5px; }
#omerta_bar .multi-column .two { width:271.5px; }
#omerta_bar .multi-column .three { width:406.5px; }
#omerta_bar .multi-column .four { width:541.5px; }
#omerta_bar .multi-column .five { width:676.5px; }
#omerta_bar .multi-column .six { width:811.5px; }

#omerta_bar .multi-column .one,
#omerta_bar .multi-column .two,
#omerta_bar .multi-column .three,
#omerta_bar .multi-column .four,
#omerta_bar .multi-column .five,
#omerta_bar .multi-column .six {
  display:inline-block;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}

/*	--------------------------------------------------
	:: Multicolumn Dropdown for Social Links
	-------------------------------------------------- */

#omerta_bar .multi-column ul{
  margin:0;
  padding:0;
  list-style:none;
  text-align:center;
  width:100%;
}

#omerta_bar .multi-column ul li{
  background-color:#fff;
  display:inline-block;
  padding:4px 0 4px 0;
  width:50%;
}

#omerta_bar .multi-column ul li:hover {
  background-color:#eee;
}

#omerta_bar	.drop_mail,  #omerta_bar .drop_alert {
  position:relative;
  width:260px;
}

#omerta_bar	.drop_mail .arrow,  #omerta_bar .drop_alert .arrow {
  position:absolute;
  left:15px;
  top:-10px;
  border-bottom: 10px solid #CFCFCF;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 0;
}

#omerta_bar .drop_mail .header,  #omerta_bar .drop_alert .header {
  position:relative;
  background:#CFCFCF;
  height:30px;
  line-height:30px;
  border-bottom:1px solid #6B6B6B;
  color: black;
  font-weight: bold;

  border-top-left-radius:5px;
  -webkit-top-bottom-left-radius:5px;
  -moz-top-bottom-left-radius:5px;
  border-top-right-radius:5px;
  -webkit-top-right-left-radius:5px;
  -moz-top-bottom-right-radius:5px;
}

#omerta_bar .drop_mail .header span.title, #omerta_bar .drop_alert .header span.title {
  float:left;
  display:inline;
  padding-left:12px;
  padding-right:12px;
}

#omerta_bar .drop_mail .header span.write {
  float:right;
  display:inline;
  height:30px;
  width:44px;
  border-left:1px solid #ACACAC;
}
#omerta_bar .drop_mail .header span.write:hover {
  background:#b5b5b5;
  cursor: pointer;
  /* stupid fix */
  border-top-right-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
}

#omerta_bar .drop_mail .header span.write img {
  margin-top:6px;
  margin-left:13px;
}

#omerta_bar .drop_mail .header span.viewAll a, #omerta_bar .drop_alert .header span.viewAll a {
  float:right;
  display:inline;
  height:30px;
  padding-right:15px;
  border-right:1px solid #8E8E8E;
  color: black;
}


#omerta_bar .drop_alert .message {
  display: block;
  position:relative;
  background:#E2E2E2;
  height:35px;
  border-top:1px solid #F7F7F7;
  border-bottom:1px solid #B9B9B9;
  cursor: pointer;
}
#omerta_bar .drop_alert .message div.container {
  float:left;
  margin-left:15px;
  margin-top:10px;
  font-weight: bold;
}

#omerta_bar .drop_mail .message {
  display: block;
  position:relative;
  background:#E2E2E2;
  height:80px;
  border-top:1px solid #F7F7F7;
  border-bottom:1px solid #B9B9B9;
  cursor: pointer;
}



#omerta_bar .drop_mail .message span.avatar {
  float:left;
  margin-left:11px;
  margin-top:22px;
}
#omerta_bar .drop_mail .message div.container  {
  float:left;
  margin-left:15px;
  margin-top:10px;
}
#omerta_bar .drop_mail .message div.container span.author {
  position:relative;
  display:block;
  width:185px;
  color:#1f2125;
  font-weight: bold;
}
#omerta_bar .drop_mail .message div.container span.content, #omerta_bar .drop_alert .message div.container span.content  {
  position:relative;
  display:block;
  width:185px;
  color:#1f2125;
}
#omerta_bar .drop_mail .message span.date, #omerta_bar .drop_alert .message span.date  {
  position:absolute;
  bottom:8px;
  right:10px;
  font-size:9px;
  color:black;
  text-align:right;
}



#omerta_bar .drop_mail .message:last-child,
#omerta_bar .drop_alert .message:last-child,
#omerta_bar .drop_mail .empty,
#omerta_bar .drop_alert .empty {

  border-bottom-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-bottom-left-radius:5px;

  border-bottom-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-bottom-right-radius:5px;

}

#omerta_bar .drop_mail .message:hover, #omerta_bar .drop_alert .message:hover {
  background:#b5b5b5;
  cursor: pointer;
}





/** Game wrapper */
#game_wrapper {
  width: 		100%;
  height: 	100%;
  margin-top: 45px;
}
/** Absolute header */
/** Game Header */
#game_wrapper_header {
  width: 		100%;
  height: 	163px;

  background-color:#3f505f;

}
/** Game Content **/
#game_wrapper_master {
  display: 	table;
  width:	 	100%;
  height: 	100%;

  position: 	absolute;
  top:		208px;
  bottom: 	0;
}
#game_wrapper_container {
  display: 	table-row;
  height: 	inherit;
  width: 		inherit;

  background-color:#3f505f;
}
#game_wrapper_menu {
  display: 	table-cell;
  vertical-align: top;
  width: 		15%;
  min-width: 	190px;

  background: #000000;
}

#game_header {
  height:		inherit;
  width: 		inherit;
}

#game_container {
  display: 		table-cell;

  vertical-align: top;

  text-align: 	left;
  margin:			0;
  padding-top: 	15px;
  padding-bottom: 15px;
  border:			1px solid transparent;	/* Opera: left menu width fix */

}

#game_loading {
  position: 	absolute;
  display: 		none;

  background: 	#000000;

  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: 		alpha(opacity=75);
  -moz-opacity:	0.75;
  -khtml-opacity: 0.75;
  opacity:		0.75;


  font-size: 		15px;
  color: 			white;
  text-align: 	center;

  padding-top: 	10px;
  width: 			inherit;
  height: 		35px;

  overflow-y: 	auto;
  overflow-x: 	hidden;
  z-index: 		9999;

}

/**
 * 	Omerta Menu
 */
#game_menu {
  position:	fixed;
  bottom:		0;
  top:		208px;
  overflow-y:	auto;
  width: 		15%;
  /*min-width: 	190px;*/
  margin: 	auto;
  z-index:	10;

}

#game_menu .quicklook {
  margin-left: 15px;
}

#game_menu div.menu {
  width:100%;
  background: url("/static/images/game/layout/submenu.jpg") repeat-x scroll center top #000000;
  height: auto;
  color: white;
}

/* MENU header */
#game_menu a.link {
  display: 		block;

  width: 			100%;
  height: 		35px;

  border-bottom: 	1px solid #33373d;

  color: 			#FFFFFF;

  text-align: 	left;

  cursor: 		pointer;

}

.menu_open {
  display:		block;
  float: 			right;

  background: 	url('/assets/omerta/main/layout/assets/img/icons/menu/menu_open.png') center center no-repeat;

  height: 		inherit;
  width: 			20px;
}

.menu_closed {
  display:		block;
  float: 			right;

  background: 	url('/assets/omerta/main/layout/assets/img/icons/menu/menu_close.png') center center no-repeat;

  height: 		inherit;
  width: 			20px;
}

#game_menu a.link > .title {
  display:		inline-block;

  height: 		inherit;

  line-height:	35px;
  vertical-align:	middle;

  font-family: 	'Arimo', sans-serif;
  font-size: 		13px;
  font-weight: 	700;

  padding-left:	40px;
  margin-left:	10px;
}

/* HEADER backgrounds */

#game_menu .icon_omerta {
  background: url('/assets/omerta/main/layout/assets/img/icons/menu/omerta.png') left no-repeat;
}
#game_menu .icon_account {
  background: url('/assets/omerta/main/layout/assets/img/icons/menu/account.png') left no-repeat;
}
#game_menu .icon_crime {
  background: url('/assets/omerta/main/layout/assets/img/icons/menu/crime.png') left no-repeat;
}
#game_menu .icon_communication {
  background: url('/assets/omerta/main/layout/assets/img/icons/menu/communication.png') left no-repeat;
}
#game_menu .icon_family {
  background: url('/assets/omerta/main/layout/assets/img/icons/menu/family.png') left no-repeat;
}


/* MENU links */
#game_menu a.sublink {
  color: #ffffff;
  display: block;
  font-size: 11px;
  margin: 0;
  padding: 3px 15px;
  text-decoration: none;

}

#game_menu a.sublink:hover, #game_menu a.active {
  cursor: pointer;
  color:#dddd00;
  text-decoration: none;
  background-color: #960011;
}

#game_menu a.sublink span.cooldown {
  display: 	inline-block;
  float:		right;
  background: url('/assets/omerta/main/layout/assets/img/icons/menu/cooldown.png') no-repeat;
  width: 		16px;
}

#game_menu a.sublink span.locked {
  display: 	inline-block;
  float:		right;
  background: url('/assets/omerta/main/layout/assets/img/icons/menu/locked.png') no-repeat;
  width: 		16px;
}


#game_menu div.submenu {
  display: none;
  background: 	#2A3640;

  padding-left: 	5px;

}



/**
 * 	EO Omerta Menu
 */

/**
 * 	Omerta news
 */
#game_news {
  display: 	table-cell;
  vertical-align: top;

  width: 		15%;
  min-width: 	190px;

  overflow-x: hidden;
}



/**
 * 	Top bar
 * Logo, info, clock
 */

#game_header_content {
  height:	104px;
  width:  100%;
  background: #0d0d0d;

  border-top: 1px solid #212121;
  border-bottom: 1px solid #383838;
}

#game_header_left {
  position: 	absolute;
  left:		0;
  width: 549px;
  height: inherit;
  z-index: 9;

  overflow: hidden;
  text-align: center;

  background: #0d0d0d;

}


#game_header_right {
  position: 	absolute;
  right:		0;
  height: 	inherit;
  width: 		770px;
  background: url('/assets/omerta/main/layout/assets/img/backgrounds/header1.jpg')  right top no-repeat;

}
/* Clock */
#game_header_right > #clock {
  text-align: center;

  float: right;

  margin: 20px 70px 0 0;


  color: white;

  font-family: 	'Arimo', sans-serif;
  font-size: 		25px;
  font-weight: 	700;


}

#game_header_right > #clock h1 {
  font-family: 	'Arimo', sans-serif;
  font-size: 		10px;
  color:white;
  margin-bottom: 0;
  opacity: 0.75;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -moz-opacity:0.75;
  -khtml-opacity: 0.75;
}

/** Marquee */
#game_header_marquee {
  width: 100%;
  height: 56px;

  position: fixed;
  z-index: 	10;

  background: url('/assets/omerta/main/layout/assets/img/backgrounds/marquee_bg.png')  repeat-x;
  border-top: 1px solid #e6e6e6;
}





/* PBARS */
#game_header_marquee > #status {
  display: block;
  float: right;
  margin: 5px 0 0 0;
  position:absolute;
  right:0;
  z-index:9;
}

/* COOLDOWNS */
#game_header_marquee > #cooldowns {
  display: block;
  float: left;
  margin: 10px 10px 0 10px;
  position:relative;
  z-index:9;
}

#game_header_marquee > #cooldowns > .cooldown {
  background: none repeat scroll 0 0 #E6E6E6;
  border: 0 none;
  border-radius: 5px 5px 5px 5px;
  display: block;
  float: left;
  height: 28px;
  line-height: 24px;
  margin: 0 5px 0 0;
  padding: 4px;
  min-width: 111px;

  behavior: url("/assets/omerta/widgets/Chat/js/plugins/PIE.htc");

}

#game_header_marquee > #cooldowns > .cooldown:hover {

  border:			1px solid #adadad;
  padding:		3px;
  cursor:			pointer;
}

#game_header_marquee > #cooldowns > .cooldown > .label {

  background: none repeat scroll 0 0 #303031;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 0 0 #121213 inset;
  color: white;
  display: block;
  float: left;
  font-size: 9px;
  padding: 2px;
  text-align: center;
  min-width: 52px;

  behavior: url("/assets/omerta/widgets/Chat/js/plugins/PIE.htc");

}

#game_header_marquee > #cooldowns > .cooldown .cd {
  display:	block;
  float:		left;

  background-image: 		url('/assets/omerta/main/layout/assets/img/backgrounds/marquee_cd_sprite.png');
  background-position: 	0 0;
  background-repeat:		no-repeat;

  width: 		55px;
  height: 	inherit;

}


#game_header_marquee > #cooldowns > .cooldown .crime {
  background-position: 0	0px;
}

#game_header_marquee > #cooldowns > .cooldown .car {
  background-position: 0	-32px;
}

#game_header_marquee > #cooldowns > .cooldown .travel {
  background-position: 0 	-64px;
}

#game_header_marquee > #cooldowns > .cooldown .bullets {
  background-position: 0	-96px;
}

#game_header_marquee > #cooldowns > .cooldown .menu {
  background-position: 0	-128px;
}

/* Mobile */
#game_header_marquee > #cooldowns > #mobileMenu {
  display: none;
}


/**
 * 	EO Top bar
 */

/**
 * 	PLUGINS
 */
/**
 * 	TIPSY
 */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('/assets/omerta/main/layout/assets/img/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

/*
 * PBAR
 */


.progressbar-label {
  font-family: 'Arimo',sans-serif;
  font-size: 10px;
  margin: 0px;
  margin-bottom: 6px;
  text-align: left;
}

.progressbar {
  background-color: #1e1f22;
  border-radius: 6px;
  height: 18px;
  padding: 2px 2px 0px 2px;
  position: relative;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: inset 0 1px 0 black, 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 0 black, 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 black, 0 1px 0 rgba(255, 255, 255, 0.1);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  behavior: url("/assets/omerta/widgets/Chat/js/plugins/PIE.htc");
}

.progressbar span.percent {
  display: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  border: 0;
}

.progressbar .percent:hover {
  display: inline;
}

.progressbar > div {
  border: 0 none;
  border-radius: 5px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4);


  height: 3px;
  position: relative;
  height: 14px;
  line-height: 15px; width: 100%; text-align: right;

  behavior: url("/assets/omerta/widgets/Chat/js/plugins/PIE.htc");
}


.progressbar .pbKS {
  background: #3b679e; /* Old browsers */
  background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}



.progressbar .pbHP3 {
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
  background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
.progressbar .pbHP2 {
  background: #fa8100; /* Old browsers */
  background: -moz-linear-gradient(top, #fa8100 0%, #da7800 50%, #b05500 51%, #b45700 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa8100), color-stop(50%,#da7800), color-stop(51%,#b05500), color-stop(100%,#b45700)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fa8100 0%,#da7800 50%,#b05500 51%,#b45700 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fa8100 0%,#da7800 50%,#b05500 51%,#b45700 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fa8100 0%,#da7800 50%,#b05500 51%,#b45700 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fa8100 0%,#da7800 50%,#b05500 51%,#b45700 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa8100', endColorstr='#b45700',GradientType=0 ); /* IE6-9 */
}
.progressbar .pbHP1 {
  background: #a31b03; /* Old browsers */
  background: -moz-linear-gradient(top,  #a31b03 0%, #b41f08 50%, #8d1303 51%, #8f1505 71%, #8f1409 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a31b03), color-stop(50%,#b41f08), color-stop(51%,#8d1303), color-stop(71%,#8f1505), color-stop(100%,#8f1409)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a31b03 0%,#b41f08 50%,#8d1303 51%,#8f1505 71%,#8f1409 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a31b03 0%,#b41f08 50%,#8d1303 51%,#8f1505 71%,#8f1409 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a31b03 0%,#b41f08 50%,#8d1303 51%,#8f1505 71%,#8f1409 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a31b03 0%,#b41f08 50%,#8d1303 51%,#8f1505 71%,#8f1409 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a31b03', endColorstr='#8f1409',GradientType=0 ); /* IE6-9 */
}

/**
 * 	Omerta boxes
 */
.omerta_box {
  display: 		block;
  border: 		1px solid #f6f7f7;
  background:		#d2d2d2;

  font-family: 	'Arimo', 'sans-serif';
  font-size:		12px;

  border-radius: 	10px;
  overflow:  		hidden;
}

.omerta_box .title {
  height: 		20px;
  font-size: 		18px;
  font-weight: 	700;
  color: 			#585353;
}

.omerta_box .desc {
  padding: 		10px;
  min-height:		50px;
  background: 	url("http://www.rivieraparque.com/Flash%20Recent%20Gallery/Dark-Tablet-Background-04.jpg");
}

.omerta_box .desc h1 {
  display: 		block;
  width: 			100%;
  text-align: 	center;
  color:  		white;
  font-size: 		20px;

  margin: 		0 0 5px 0;
}

.omerta_box .desc h2 {
  display: 		block;
  width: 			100%;
  text-align: 	center;
  color:  		white;
  font-size: 		12px;
}

.omerta_box .row {
  display: 		block;
  width:			100%;
  height: 		35px;
  border-top: 	1px solid #e1e1e1;
  border-bottom:	1px solid #b6b4b4;
  background: 	#d1d1d1;

  line-height:	35px;
}
.omerta_box .row:hover, .omerta_box .row.selected  {
  background: 	#b6b4b4;
  cursor:			pointer;
  box-shadow: inset 2px 2px 2px #CCC;
}
.omerta_box .row .icon {
  display: 		inline-block;
  float: 			left;

  width:			22px;
  height:			22px;

  border: 		1px solid #a1a1a1;
  border-radius:	11px;
  background: 	#f6f6f6;

  margin: 		5px 5px 0px 5px;

}

.omerta_box .row .icon img {
  margin:		5px 5px 2px 2px;
}


.omerta_box .row .icon input {
  margin:		4px 5px 5px 5px;
}

.omerta_box .row .key {
  display:		inline-block;
  float:			left;
  color: 			#787777;
}

.omerta_box .row .value {
  display:		inline-block;
  float:			right;
  color: 			#1d1c1c;
  font-weight:	bold;

  margin-right:	10px;
}

.omerta_box .row_button {
  display: 		block;
  width:			100%;
  height: 		59px;
  padding: 		10px;

  text-align:center;

  border-top: 	1px solid #e1e1e1;

  background: 	#d1d1d1;

  line-height:	35px;
}

.omerta_box .row_button .button {
  margin: 		0 auto;
  border-radius: 	5px;
  border: 		0;

  height:			49px;
  background:		url('/assets/omerta/main/layout/assets/img/backgrounds/button.png') repeat-x;
  min-width:		70px;
  font-size:		18px;
  color: 			#fff;

  opacity: 0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
}

.omerta_box .row_button .button:hover {
  opacity: 1;
}

/** Buttons **/
input[type="submit"], input[type="button"], button {
  cursor: pointer;
}

#btn_goTop {
  background: url("/assets/omerta/main/layout/assets/img/gfx/top.png") repeat scroll 0 0 transparent;
  bottom: 10px;
  cursor: pointer;
  display: none;
  height: 54px;
  position: fixed;
  right: 10px;
  width: 55px;
}


/**
 * 	Color picker
 */
div.colorPicker-picker {
  height: 16px;
  width: 16px;
  padding: 0 !important;
  border: 1px solid #ccc;
  background: url('/assets/omerta/widgets/Chat/images/gfx/arrow.gif') no-repeat top right;
  cursor: pointer;
  line-height: 16px;
  font-size:0.75em;
  font-weight:bold;
  text-align: center;
}

div.colorPicker-palette {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  z-index: 9999;
}
div.colorPicker_hexWrap {width: 100%; float:left }
div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}

/* ***************************************
	PAGINATION
*************************************** */
.o3pagination-list {
  margin: 10px 0;
  display: block;
  text-align: center;
}
.o3pagination-list li {
  display: inline-block;
  margin: 0 6px 0 0;
  text-align: center;
}
.o3pagination-list a, .o3pagination-list span {
  border-radius: 4px;
  display: block;
  padding: 2px 6px;
  color: #949191;
  border: 1px solid #949191;
  font-size: 12px;
}
.o3pagination-list a:hover,
.o3pagination-list a:focus {
  background: #949191;
  color: white;
  text-decoration: none;
}
.o3pagination-list .o3pagination-state-disabled span {
  color: #CCCCCC;
  border-color: #CCCCCC;
}
.o3pagination-list .o3pagination-state-selected span {
  color: #555555;
  border-color: #555555;
}

html {
  background:	#222;
}

#game_header_marquee {
  position:static;
}

#game_container {
  display:block;
}

#account_info_header {
  color:#fff;
  .fontsForInfomationContent();
  font-size:28px;
  font-weight:bold;
  height:56px;
  line-height:56px;
  text-align:center;
  text-transform:uppercase;

  text-shadow: 0px 2px 3px #222;
  filter: dropshadow(color=#646464, offx=0, offY=3);
}

#game_container.account_container {
  background-color:#222;
  left:0;
  right:0;
  width:100%;
}

#game_container.account_container .warning {
  margin:4px auto;
  text-align:center;
  width:90%;
}

#game_container.account_container .warning .content {
  background-color:#333;
  border:3px solid #f00;
  color:#fff;
  margin-bottom:20px;
  padding:12px;
}



/* New table definitions */

table.account_table {
  border:0;
  empty-cells:show;
  line-height:18px;		/* 24px */
  width:100%;
}


/* Font */

table.account_table p {
  line-height:18px;
  margin:0 0 12px 0;
  padding:0;
}

table.account_table a {
  /* main.css */
}


/* Forms */

table.account_table form {
  margin:0;
  padding:0;
}

table.account_table form input,
table.account_table form select,
table.account_table form textarea,
table.account_table form label {
  .fontsForInfomationContent();
  font-size:11px;
  /*font:normal 11px/18px Verdana;*/
}

table.account_table form input[type=text] {
  padding-left:6px;
}

table.account_table form textarea {
  line-height:18px;
  min-height:58px;
  min-width:300px;
  padding-left:6px;
}

table.account_table button {
  font-size:10px;
  font-weight:bold;
  height:24px;
  line-height:12px;
  padding:0 10px;
}


/* Table rows / cols */

table.account_table tr {
  /*
  background-color:#333;
  color:#fff;
  */
  background-color:#f0f0f0;
  color:#000;
}

table.account_table tr th {
  font-size:12px;
}


table.account_table tr.highlight:hover {
  background-color:#00a7da;
}

table.account_table tr th,
table.account_table tr td {
  border-bottom:1px solid #c8c8c8;
  padding:5px 11px;
}

table.account_table tr td table.plain_table tr th,
table.account_table tr td table.plain_table tr td {
  border-bottom:none;
  padding:1px 11px 0 0;
}


table.account_table tr td:first-child {
  /*padding-left:12px;*/
}

table.account_table tr td:last-child {
  /*padding-right:12px;*/
}

table.account_table tr:last-child td {
  border-bottom:0;
}

table.account_table tr td input.create_button {
  /*font-size:12px;*/
  height:28px;
  line-height:14px;
  padding:5px 20px;
}

table.account_table tr.table-footer td {
  background-color:#d8d8d8;
  text-align:center;
}


table.account_table tr td.header_column {
  text-align:right;
}



/* Rebirth table */

table.account_table.rebirth tr {
  background-color:#333;
  color:#fff;
}

table.account_table.rebirth tr td {
  border-bottom-color:#484848;
}

table.account_table.rebirth label {
  font-size:12px;
  line-height:24px;
}


/* Rebirth table column 1 */

table.account_table tr td.column-1 {
  padding:60px 0 60px 60px;
}

table.account_table tr td.column-1 p {
  /*
  line-height:12px;
  margin:0;
  */
}

table.account_table tr td.column-1 input#new_gangster_name {
  height:18px;
  line-height:18px;
  padding:1px 4px;
  width:210px;
}

table.account_table tr td.column-1 input {
  margin:0 4px 0 0;
  font-family:Tahoma;
  font-size:12px !important;
  padding:0;
  /*vertical-align:top;*/
}


/* Rebirth table column 2 */

table.account_table tr td.column-2 {
  border-left:1px solid #484848;
  padding:0;
  width:50%;
}

table.account_table tr td.column-2 table {
  width:100%;
}

.oheader {
  background: url(http://omerta.dm/static/images/game/generic/headershine.png) repeat-x rgb(63, 80, 95);
  border-bottom: 2px solid black;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  height: 23px;
  line-height: 23px;
  padding: 0px 0px 0px 5px;
} in /omerta/deps/kriswallsmith/assetic/src/Assetic/Exception/FilterException.php on line 40

Call Stack:
    0.0012     254248   1. {main}() /omerta/src/bin/Assets/dump.php:0
    0.1640    1111064   2. OmertaAsset->dump() /omerta/src/bin/Assets/dump.php:75
    0.1642    1112792   3. Assetic\Asset\AssetCollection->dump() /omerta/src/bin/Assets/core/OmertaAsset.php:110
    0.1742    1182128   4. Assetic\Asset\BaseAsset->dump() /omerta/deps/kriswallsmith/assetic/src/Assetic/Asset/AssetCollection.php:151
    0.1742    1182240   5. Assetic\Asset\FileAsset->load() /omerta/deps/kriswallsmith/assetic/src/Assetic/Asset/BaseAsset.php:103
    0.1787    1213824   6. Assetic\Asset\BaseAsset->doLoad() /omerta/deps/kriswallsmith/assetic/src/Assetic/Asset/FileAsset.php:65
    0.1787    1214440   7. Assetic\Filter\FilterCollection->filterLoad() /omerta/deps/kriswallsmith/assetic/src/Assetic/Asset/BaseAsset.php:94
    0.1787    1214880   8. Assetic\Filter\LessFilter->filterLoad() /omerta/deps/kriswallsmith/assetic/src/Assetic/Filter/FilterCollection.php:62

